<div class="header">
  <p class="title">{{ title }}</p>
  <div class="options-container">
    <app-shared-select
      [options]="options"
      [title]="title"
      [defaultValue]="defaultValue"
      (setSelectedValue)="changeFilter($event)"
    ></app-shared-select>
    <div class="chart-type-icons">
      <button mat-raised-button (click)="toggleChartTypeLocal('bar')">
        <mat-icon> insert_chart_outlined</mat-icon>
      </button>
      <button mat-raised-button (click)="toggleChartTypeLocal('line')">
        <mat-icon> show_chart_outlined</mat-icon>
      </button>
    </div>
  </div>
</div>
