<div class="header">
  <p class="title">{{ title }}</p>
  <div class="options-container">
    <app-shared-select
      [options]="options"
      [title]="title"
      [selectedValue]="selectedValue"
      (setSelectedValue)="changeFilter($event)"
    ></app-shared-select>
    <div class="chart-type-icons">
      <button mat-raised-button (click)="toggleChartType('bar')">
        <mat-icon> insert_chart_outlined</mat-icon>
      </button>
      <button mat-raised-button (click)="toggleChartType('line')">
        <mat-icon> show_chart_outlined</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="chart-container">
  <canvas
    height="200"
    width="10"
    baseChart
    [datasets]="chartData"
    [labels]="labels"
    [options]="chartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType"
    [colors]="colors"
  >
  </canvas>
</div>
